html {   
 background: url('src/Images/Mario Kart 8.jpeg') no-repeat center fixed;    
 background-size: cover;
 margin: 30px;
}

h1 {
  text-align: center;
  color: rgb(218, 19, 19);
  font-size: 40px;
}

.subheading {
  color: #131199;
  text-align: center;
  background-color: whitesmoke;
  border: 5px solid #131199;
 } 

 .divider {
  border: 1px solid #008CBA;
  opacity: 0%;
 }

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  background-color: #008CBA;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; 
}

img:hover {
  transform: scale(1.2);
}

img {
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#player-details {
  text-align:center;
  color: #e5ff00;
  font-weight: bold;
  font-size: 22px;
 }
 
 #radio-btn {
  text-align:center;
 }

 #weapon-type {
  text-align:center;
  color: #e5ff00;
  font-weight: bold;
  font-size: 22px;
 }
 
 #vehicle-type {
  text-align:center;
  color: #e5ff00;
  font-weight: bold;
  font-size: 22px;
 }

 #veh-atv {
  max-width: 600px;
 }
 
 #veh-kart {
  max-width: 1500px;
 }

 #submit-button {
  background-color: whitesmoke;
  border: 2px solid #131199;
  color: #131199;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  font-size: 16px;
 }

 #submit-button:hover {
   transform: scale(1.2);
 }

 .play-btn {
   text-align: center;
   background-color: #008CBA;
 }

 .row {
   background-color: #008CBA;
 }