html {    
  background: url('src/Images/mario-kart-8.jpeg') no-repeat center fixed;     
  background-size: cover;
}
h1 {
  text-align: center;
  color: rgb(218, 19, 19);
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


img {
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#player-details {
  text-align:center;
}

#radio-btn {
  text-align:center;
}

#weapon-type {
  text-align:center;
}

#vehicle-type {
  text-align:center;
}

button {
  background-color: #008CBA;
  border: whitesmoke;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
}
.divider{
  border: 1px solid #008CBA
}