
h1 {
  text-align: center;
  color: rgb(218, 19, 19);
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

img {
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
